<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title th:text="${title}">(title)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <th:block id="favicon">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
  </th:block>

  <th:block id="bootstrap">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </th:block>


  <link rel="stylesheet" type="text/css" th:href="@{/datepicker/css/bootstrap-datepicker3.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/toggle/bootstrap2-toggle.min.css}"/>

  <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.css}" rel="stylesheet"/>
  <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" media="all"/>

</head>

<body>

</body>
</html>
